<div class="container-fluid">
    <div class="row mb-5 mt-5 text-center">
        <h1>Selecione o dia da semana</h1>
    </div>
    <div class="row mb-0 mt-5">
        <div class="col-6 col-lg-2 offset-lg-4 p-4" style="height: 200px;">
            <div class="text-center card" (click)="navigation('segunda', this.method)">
                <i class="fa-solid fa-chalkboard-user fa-lg card-mt"></i>
                <p>Segunda</p>
            </div>
        </div>
        <div class="col-6 col-lg-2  p-4"  style="height: 200px;">
            <div class="text-center card" (click)="navigation('terça', this.method)">
                <i class="fa-solid fa-book fa-lg card-mt"></i>
                <p>Terça</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6 col-lg-2 offset-lg-4 p-4"  style="height: 200px;">
            <div class="text-center card" (click)="navigation('quarta', this.method)">
                <i class="fa-solid fa-door-open fa-lg card-mt"></i>
                <p>Quarta</p>
            </div>
        </div>

        <div class="col-6 col-lg-2  p-4"  style="height: 200px;">
            <div class="text-center card" (click)="navigation('quinta', this.method)">
                <i class="fa-solid fa-graduation-cap fa-lg card-mt"></i>
                <p>Quinta</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6 col-lg-2 offset-lg-4 p-4"  style="height: 200px;">
            <div class="text-center card" (click)="navigation('sexta', this.method)">
                <i class="fa-solid fa-door-open fa-lg card-mt"></i>
                <p>Sexta</p>
            </div>
        </div>

        <div class="col-6 col-lg-2  p-4"  style="height: 200px;">
            <div class="text-center card" (click)="navigation('sábado', this.method)">
                <i class="fa-solid fa-graduation-cap fa-lg card-mt"></i>
                <p>Sábado</p>
            </div>
        </div>
    </div>
</div>
