<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-4 pt-2">
			<button (click)="goBack()" type="button" class="btn btn-light ps-0 "><i class="fa-sharp fa-solid fa-arrow-left" style="font-size: 30px;"></i></button>
		</div>
		<div class="col-4 text-center mt-2">
			<h4>PROFESSORES</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
					<div class="mt-1 mb-5">
						<div class="d-flex">
							<input class="form-control me-1" type="search" placeholder="Digite a disciplina ou nome do professor" aria-label="Search" (keyup)="filtro = $event.target.value">
							<button *ngIf="hasAutorization" class="btn btn-primary d-flex text-center align-content-center" style="height: 40px;" 
							style="background-color:#45AF7C;" (click)="newTeacher(addTemplate, 'md')">
								<i class="fa-solid fa-plus pt-1 pe-1"></i>
								<p class="mb-0">Nova</p>
							</button>
							
						</div>
					</div>
					<table class="table user-list">
						<thead>
							<tr>
								<th><span>Professor</span></th>
								<th class="text-center"><span>Localização</span></th>
							</tr>
						</thead>
						<tbody>
							<tr  *ngFor="let tea of teachers| paginate: { itemsPerPage: pageSize, currentPage: page} | arrayFilter: filtro">
								<td >
									<span href="#" class="user-link me-0">{{tea?.name}}</span>
								</td>
								<td class="text-center" style="width: 20%;">
									<a href="#" class="table-link" *ngIf="hasAutorization"> 
										<span class="fa-stack" (click)="select(tea, deleteTemplate, 'sm')">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger" *ngIf="hasAutorization">
										<span class="fa-stack" (click)="select(tea, addTemplate, 'sm')">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="offset-2 col-8 col-md-4 offset-md-4">
						<!-- <h4 class="text-center">{{this.pageDay}}</h4> -->
						<pagination-controls
						  previousLabel="Prev"
						  nextLabel="Next"
						  responsive="true"
						  (pageChange)="handlePageChange($event)"
						></pagination-controls>
					</div>
					<div class="col-2">
						<div>
							<!-- Items per Page: -->
							<select (change)="handlePageSizeChange($event)">
							  <option *ngFor="let size of pageSizes" [value]="size">
								{{ size }}
							  </option>
							</select>
						  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #deleteTemplate>
	<div class="modal-header text-center">
	  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body text-center">
	  <h4 class="modal-title pull-left">Você deseja remover o(a) Professor(a) {{this.selectTeacher.name}}</h4>
	</div>
	<div class="modal-footer text-center d-flex justify-content-center">
		<button type="button" class="btn btn-primary" (click)="this.modalRef.close()">Cancelar</button>
		<button type="button" class="btn btn-danger" (click)="deleteDisc(this.selectTeacher._id)">Deletar</button>
	</div>
</ng-template>

<ng-template #addTemplate>
	<div class="modal-header justify-content-center" *ngIf="!isSuccessful">
			<h5 class="modal-title pull-left">Registrar Professor</h5>
		<!-- <button type="button" class="close pull-right" aria-label="Close" (click)="this.modalRef.close()">
			<span aria-hidden="true">&times;</span>
		</button> -->
	</div>
	<div class="modal-body text-center">
		<div class="row">
			<div class="col-md-12">
				<div class="div" *ngIf="isSuccessful">
					<h3>Professor inserido com sucesso!</h3>
					<button class="mt-3 btn btn-primary btn-success btn-block ms-2" (click)="this.closeModal();">Fechar</button>
				</div>
				<form
					*ngIf="!isSuccessful"
					name="formTeacher"
					(ngSubmit)="f.form.valid && onSubmit()"
					#f="ngForm"
					novalidate
				>
				<div class="row ms-0">
					<div class="row ms-0">
						<div class="offset-1 col-10">
							<div class="form-group">
							<label for="name">Nome</label>
							<input
								type="text"
								class="form-control"
								name="name"
								[(ngModel)]="formTeacher.name"
								required
								minlength="3"
								maxlength="40"
								#name="ngModel"
							/>
							<div class="alert-danger" *ngIf="name.errors && f.submitted">
								<div *ngIf="name.errors.required">name is required</div>
								<div *ngIf="name.errors.minlength">
								name must be at least 3 characters
								</div>
								<div *ngIf="name.errors.maxlength">
								name must be at most 20 characters
								</div>
							</div>
							</div>
						</div>
					</div>
					<div class="row mt-3 ms-0">
						<div class="col-12 d-flex justify-content-center">
								<button type="button" class="btn btn-danger" (click)="this.modalRef.close();">Cancelar</button>
								<button class="btn btn-primary btn-success btn-block ms-2">Registrar</button>
								<div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
									Signup failed!<br />{{ errorMessage }}
								</div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</ng-template>