<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-2 pt-2">
			<button (click)="goBack()" type="button" class="btn btn-light ps-0 "><i class="fa-sharp fa-solid fa-arrow-left" style="font-size: 30px;"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
					<div class="mt-1 mb-5">
						<div class="d-flex">
							<input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" (keyup)="filtro = $event.target.value">
							<!-- <input style="width: 100%;" type="search" placeholder="busca..." (keyup)="filtro = $event.target.value"> -->
							<button class="btn btn-primary">
								<!-- <i class="fa-solid fa-magnifying-glass"></i> -->
								<i class="fa-solid fa-filter" style="color: #fff;"></i>
							</button>
						</div>
					</div>
					<table class="table user-list">
						<thead>
							<tr>
								<th><span>Professor</span></th>
								<!-- <th class="text-center"><span>Fase</span></th>
								<th class="text-center"><span>Bloco</span></th>
								<th class="text-center"><span>Dia</span></th> -->
								<th class="text-center"><span>Localização</span></th>
							</tr>
						</thead>
						<tbody>
							<tr  *ngFor="let professor of professores | paginate: { itemsPerPage: pageSize, currentPage: page} | arrayFilter: filtro">
								<td >
									<!-- <img *ngIf="professor.gender === 'M' " src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> -->
									<!-- <img *ngIf="professor.gender === 'F' " src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""> -->
									<span href="#" class="user-link me-0">{{professor.name}}</span>
									<span class="user-subhead">Curso: {{professor.curso}}</span><br/>
									<span class="user-subhead me-2">{{professor.cadeira}} / <span style="font-weight: bold;">{{professor.fase}} Fase</span></span>
									<div>
										<span class="user-subhead me-2">Bloco: {{professor.bloco}}</span>
										<span class="user-subhead me-2">Sala: {{professor.sala}}</span>
										<span class="user-subhead me-2">Código: {{professor.codigo}}</span>
										<span *ngIf="professor.day != 'Sábado' " class="user-subhead me-2">Dia: {{professor.day}}-feira</span>
										<span *ngIf="professor.day === 'Sábado' " class="user-subhead me-2">Dia: {{professor.day}}</span>
									</div>
								</td>
								<!-- <td class="text-center">
								</td>
								<td class="text-center">
								</td>
								<td class="text-center">
								</td> -->
								<td class="text-center" style="width: 20%;">
									<a class="table-link" (click)="selectLocation(professor)">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
											<i class="fa-solid fa-earth-americas fa-stack-1x fa-inverse" style="color: #fff"></i>
										</span>
									</a>
									<!-- <a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a> -->
								</td>
							</tr>
							<!-- <tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
									<a href="#" class="user-link">George Clooney</a>
									<span class="user-subhead">Member</span>
								</td>
								<td>
									2013/08/12
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="#">marlon@brando.com</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
									<a href="#" class="user-link">Ryan Gossling</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2013/03/03
								</td>
								<td class="text-center">
									<span class="label label-danger">Banned</span>
								</td>
								<td>
									<a href="#">jack@nicholson</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
									<a href="#" class="user-link">Emma Watson</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2004/01/24
								</td>
								<td class="text-center">
									<span class="label label-warning">Pending</span>
								</td>
								<td>
									<a href="#">humphrey@bogart.com</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
									<a href="#" class="user-link">Robert Downey Jr.</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/12/31
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="#">spencer@tracy</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
									<a href="#" class="user-link">Mila Kunis</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/08/08
								</td>
								<td class="text-center">
									<span class="label label-default">Inactive</span>
								</td>
								<td>
									<a href="#">mila@kunis.com</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
									<a href="#" class="user-link">George Clooney</a>
									<span class="user-subhead">Member</span>
								</td>
								<td>
									2013/08/12
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="#">marlon@brando.com</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
									<a href="#" class="user-link">Ryan Gossling</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2013/03/03
								</td>
								<td class="text-center">
									<span class="label label-danger">Banned</span>
								</td>
								<td>
									<a href="#">jack@nicholson</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
									<a href="#" class="user-link">Emma Watson</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2004/01/24
								</td>
								<td class="text-center">
									<span class="label label-warning">Pending</span>
								</td>
								<td>
									<a href="#">humphrey@bogart.com</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
									<a href="#" class="user-link">Robert Downey Jr.</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/12/31
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="#">spencer@tracy</a>
								</td>
								<td style="width: 20%;">
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr> -->
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="offset-2 col-8 col-md-4 offset-md-4">
						<!-- <h4 class="text-center">{{this.pageDay}}</h4> -->
						<pagination-controls
						  previousLabel="Prev"
						  nextLabel="Next"
						  responsive="true"
						  (pageChange)="handlePageChange($event)"
						></pagination-controls>
					</div>
					<div class="col-2">
						<div>
							<!-- Items per Page: -->
							<select (change)="handlePageSizeChange($event)">
							  <option *ngFor="let size of pageSizes" [value]="size">
								{{ size }}
							  </option>
							</select>
						  </div>
					</div>
			</div>
			
		</div>
	</div>
</div>
