<div class="container">
    <div class="row">
		<div class="col-2 pt-2">
			<button (click)="goBack()" type="button" class="btn btn-light ps-0 "><i class="fa-sharp fa-solid fa-arrow-left" style="font-size: 30px;"></i></button>
		</div>
	</div>
    <div class="row mt-5">
        <div class="col-md-12">
            <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
            >
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Nome do Professor</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="form.name"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                        <!-- <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            class="form-control"
                            name="email"
                            [(ngModel)]="form.email"
                            required
                            email
                            #email="ngModel"
                        />
                        <div class="alert-danger" *ngIf="email.errors && f.submitted">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">
                            Email must be a valid email address
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                        />
                        <div class="alert-danger" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                            </div>
                        </div>
                        </div> -->
                    </div>
                    <div class="col-2 d-flex" style="align-items: flex-end;">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Registrar</button>
                        </div>
                    
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                            Signup failed!<br />{{ errorMessage }}
                        </div>
                    </div>
                </div>
            </form>
            <div class="alert alert-success d-flex text-center align-items-center justify-content-center" *ngIf="isSuccessful">
                <span>Registro inserido com Sucesso!</span>
                <button class="btn btn-success btn-block ms-5"(click)="changeStatus();">OK</button>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <form
                *ngIf="!isSuccessful"
                name="formCourse"
                (ngSubmit)="f.form.valid && onSubmitCourse()"
                #f="ngForm"
                novalidate
            >
            <div class="row">
                <div class="offset-1 col-7">
                    <div class="form-group">
                    <label for="name">Nome do Curso</label>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        [(ngModel)]="formCourse.name"
                        required
                        minlength="3"
                        maxlength="40"
                        #name="ngModel"
                    />
                    <div class="alert-danger" *ngIf="name.errors && f.submitted">
                        <div *ngIf="name.errors.required">name is required</div>
                        <div *ngIf="name.errors.minlength">
                        name must be at least 3 characters
                        </div>
                        <div *ngIf="name.errors.maxlength">
                        name must be at most 20 characters
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-2 d-flex" style="align-items: flex-end;">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Registrar</button>
                    </div>
                
                    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                        Signup failed!<br />{{ errorMessage }}
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <form
                *ngIf="!isSuccessful"
                name="formCourse"
                (ngSubmit)="f.form.valid && onSubmitClass()"
                #f="ngForm"
                novalidate
            >
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Sala</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formClass.name"
                            required
                            minlength="1"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Bloco</label>
                        <input
                            type="text"
                            class="form-control"
                            name="observation"
                            [(ngModel)]="formClass.observation"
                            required
                            minlength="1"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Latitude</label>
                        <input
                            type="text"
                            class="form-control"
                            name="latitude"
                            [(ngModel)]="formClass.latitude"
                            required
                            minlength="1"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Longitude</label>
                        <input
                            type="text"
                            class="form-control"
                            name="longitude"
                            [(ngModel)]="formClass.longitude"
                            required
                            minlength="1"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex" style="align-items: flex-end;">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Registrar</button>
                        </div>
                    
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                            Signup failed!<br />{{ errorMessage }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <form
                *ngIf="!isSuccessful"
                name="formCourse"
                (ngSubmit)="f.form.valid && onSubmitDiscipline()"
                #f="ngForm"
                novalidate
            >
            <div class="row">
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Nome</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formDiscipline.name"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Sala id</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formDiscipline.classroom"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Curso id</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formDiscipline.course"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Professor id</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formDiscipline.teacher"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Dia</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formDiscipline.day"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Horario de ínicio</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formDiscipline.starting_time"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-7">
                        <div class="form-group">
                        <label for="name">Horario de saída</label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            [(ngModel)]="formDiscipline.final_time"
                            required
                            minlength="3"
                            maxlength="40"
                            #name="ngModel"
                        />
                        <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="name.errors.required">name is required</div>
                            <div *ngIf="name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-9 d-flex justify-content-end" style="align-items: flex-end;">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Registrar</button>
                        </div>
                    
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                            Signup failed!<br />{{ errorMessage }}
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div> -->
</div>
